.quoteContainer {
  margin-top: 10rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 100px;
}
blockquote {
  grid-column: 5/11;
  grid-row: 1/1;
  font-family: "Playfair Display";
  font-size: 1.45rem;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}
.name {
  grid-column: 7/9;
  grid-row: 2/2;
  justify-self: center;
  align-self: center;
  font-weight: bold;
  font-family: "League Spartan";
  letter-spacing: 2px;
  font-size: 0.9rem;
  opacity: 0.9;
}
.line {
  grid-column: 8/8;
  grid-row: 3/3;
  border-left: 3px solid var(--primary);
}
